* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
	background-color: #fafafa
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 5%;
	background: white;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	position: sticky;
	top: 0;
	z-index: 100;
}

.logo span { 
	color: #007bff; 
}

.nav-links {
	display: flex;
	list-style: none;
}

.nav-links li a {
	text-decoration: none;
	color: #333;
	margin-left: 20px;
	transition: 0.3s;
}

.nav-links li a:hover {
	color: #007bff;
}

.header-main {
	height: 60vh;
	background: #f0f4f8;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.btn-clickme {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 25px;
	background: #333;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	transition: 0.3s;
}

.btn-clickme:hover {
	background: #007bff;
	transform: scale(1.05);
}

.about-section {
	padding: 80px 5%;
	text-align: center;
}

.photo-container {
	margin-bottom: 20px;
}

.profil-img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	object-fit: cover;
	border: 5px solid white;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
	transition: 0.4s;
}

.profil-img:hover {
	transform: rotate(5deg) scale(1.1);
	border-color: #007bff
}

.about-card {
	max-width: 600px;
	margin: 0 auto;
	padding: 30px;
	background: white;
	border: 1px solid #ddd;
	border-radius: 10px;
	transition: 0.3s;
}

.about-card:hover; {
	border-color: #007bff;
}

.contact-section { 
	padding: 80px 5%;
	background: #222;
	background: white;
	text-align: center;
}

.btn-email {
	display: inline-block;
	margin-top: 20px;
	border: 2px solid #007bff;
	padding: 10px 25px;
	color: #007bff;
	text-decoration: none;
	transition: 0.3s;
}

.btn-email:hover {
	background: #007bff;
	color: white;
}

.footer {
	padding: 40px;
	background: #222;
	color: white;
	text-align: center;
}

.footer-name {
	color: #007bff;
	text-decoration: none;
}

.sosmed-link {
	color: #888;
	margin: 0 10px;
	text-decoration: none;
	font-size: 15px;
	transition: 0.3s;
}

.sosmed-link:hover{
	color: white;
}